<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="Roorkites Educational Publishers Pvt Ltd. Approx. Notebooks(earlier Adister) are notebooks/registers at 40% of the market price">
  <meta name="author" content="Capt. Nemo">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">


  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="css/style.css?v=2">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->

</head>
<body>
  <div id="container">
    <header>
		<ul id="links">
			{% for link in site.navigation %}
				{% assign current = nil %}
				{% if page.url == link.url %}
					{% assign current = 'active' %}
				{% endif %}
				<li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
					<a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
				</li>
			{% endfor %}
			<!--<li class="first"><a class="active" href="./index.html">Home</a></li>
			<li><a href="./associate.html">Associate With Us</a></li>
			<li><a href="./media.html">Media</a></li>
			<li><a href="./clients.html">Clients</a></li>
			<li class="last"><a  href="./contact.html">Contact Us</a></li>-->
		</ul>			
		<a href="/" id="logo"></a>
		<div class="clearfix"></div>
    </header>
    {{content}}
    <footer>
		<a href="http://www.facebook.com/approx.notebooks" class="fb"></a>
		<a href="mailto:approx@roorkites.com" class="gmail"></a>
		<span class="right colored"><strong></strong></span>
		<span class="left colored">&copy; Roorkites Educational Publishers Pvt. Ltd.</span>
    </footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading 

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end scripts-->


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
	  /*
	  No need for it right now, will enable later
    var _gaq=[["_setAccount","UA-5922129-10"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
    */
  </script>

</body>
</html>
